pkgbase = beeper-v4-bin
	pkgdesc = The ultimate messaging app
	pkgver = 4.0.478
	pkgrel = 3
	url = https://beeper.com/
	arch = x86_64
	license = LicenseRef-beeper
	provides = beeper
	conflicts = beeper
	conflicts = beeper-latest-bin
	options = !strip
	options = !debug
	source = Beeper-4.0.478.AppImage::https://api.beeper.com/desktop/download/linux/x64/stable/com.automattic.beeper.desktop
	sha256sums = SKIP

pkgname = beeper-v4-bin
	depends = hicolor-icon-theme
